# Database configuration for local host development
DB_USER=serverdbtest
DB_PASSWORD=secure
DB_NAME=restdb
DB_PORT=5455
DB_HOST=localhost
DB_SSLMODE=disable

SERVER_PORT=3000
APP_ENV=development
# APP_ENV=production
LOG_LEVEL=DEBUG
# LOG_LEVEL=INFO